body {
	font-family: sans-serif;
	text-align: center;

}
	.users {
		display: grid;

		grid-gap: 10px;

		grid-template-columns: repeat(auto-fill, 200px);

	}
.red {
	color: red;
}
.green{
	color: green;
}

.transplink {
  text-decoration: none;
  color: black;
}

.user {

	display: flex;
	flex-direction: column;

	background-color: grey;
	padding: 5px;

	border-radius: 25px;

	.nickname {
		font-weight: bold;
	}
}
